html {
    background: url('../images/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #ACACAC;
    font-size: 14px;
    line-height: 42px;
    margin: 0;
    padding: 0;
}

html,body{
    overflow-y:hidden;
}

a {
    text-decoration: none;
}

.page-title {
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 27px;
}

.container {
    padding-top: 40px;
    width: 100vw;
    height: 100vh;
}

.content {
    max-width: 910px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 10px;
}

.tablet-element {
    display: none;
}

.navigation {
    width: 25%;
    min-height: 500px;
    background-color: #0c5ea5;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: rgba(255, 255, 255, 0.51);
}

.circle-empty {
    display: block;
    min-width: 10px;
    max-width: 10px;
    min-height: 10px;
    max-height: 10px;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.51);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 2px;
    border: none;
}

.circle-full {
    position: relative;
    display:block;
    width:14px;
    height:14px;
    line-height:50px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #0c5ea5;
}

.circle-full::before {
    display: block;
    min-width: 10px;
    max-width: 10px;
    min-height: 10px;
    max-height: 10px;
    line-height: 0;
    background-color: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 2px;
    border: none;
    content: ' ';
}

.navigation__description {
    display: inline-block;
}

.navigation__description-active, .navigation__item-active {
    color: #ffffff;
}

.navigation__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 27px 0;
    line-height: 18px;
    vertical-align: top;
}

.navigation-check {
    min-width: 25px;
    min-height: 21px;
    margin: 17px 5px 17px 21px;
    display: inline-block;
    position: relative;
}

.description__title {
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
}

.description__body {
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.registration-area {
    width: 80%;
    min-height: 430px;
    background-color: #ffffff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fields-title {
    margin: 0;
    font-size: 1.7em;
    color: #000;
}

.fields-title-type {
    margin-top: 20px;
}

.fields-start-end {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.fields-between {
    display: flex;
    justify-content: space-between;
}

.fields-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-of-input {
    display: block;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 10px;
    line-height: 43px;
}

.field {
    width:92%;
    border: 0 solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    color: #3B3B3B;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.field-confirm {
    margin-top: 42px;
}

.field-confirm::placeholder {
    font-size: 0.82em;
    font-weight: 400;
    color: rgba(172, 172, 172, 1);
}

.field:focus {
    width:92%;
    border: 0 solid #E0E0E0;
    border-bottom: 1px solid #2387DD;
    outline: none;
}

.field-select {
    background-color: #fff;
}

.fields-block {
    width: 48%;
    display: flex;
    flex-direction: column-reverse;
}

.fields-block-upload {
    width: 95%;
}

.field:focus+span {
    color: #2387DD;
}

.registration-area__buttons {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons__reset {
    border: none;
    background-color: #fff;
    text-transform: uppercase;
    color: #0C5EA5;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.buttons__reset-left {
    margin: 10px 0;
    width: 25%;
}

.button:active {
    outline: none;
    border: 0 solid #E0E0E0;
}

.buttons__continue {
    width: 135px;
    line-height: 40px;
    font-weight: bold;
    background-color: #0C5EA5;
    border-radius: 40px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.buttons__back {
    width: 135px;
    line-height: 40px;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 2px solid #0C5EA5;
    border-radius: 40px;
    text-align: center;
    color: #0C5EA5;
    text-transform: uppercase;
    margin-left: 235px;
}

.additional-phone {
    height: 20px;
    border: none;
    background-color: #fff;
    text-transform: uppercase;
    color: #0C5EA5;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

.file-upload {
    width: 100%;
}

.registration-area__buttons-mobile {
    display: none;
}

@media (max-width: 1200px) {
    html {
        background: none;
    }

    .page-title {
        display: none;
    }
    .container {
        width: 100%;
        padding: 0;
    }

    .content {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        border-radius: 0;
    }

    .tablet-element {
        display: block;
        text-align: center;
        color: #FFFFFF;
    }

    .navigation {
        border-radius: 0;
    }

    .buttons__reset.buttons__reset-left {
        display: block;
        width: 100%;
        margin: 20px auto;
    }

    .registration-area {
        min-height: 200px;
    }
}

@media (max-width: 768px) {
    html,body{
        overflow-y: auto;
    }

    .registration-area__buttons {
        display: none;
    }

    .page-title.mobile-element {
        display: none;
    }

    .page-title {
        display: block;
        color: #0C5EA5;
        z-index: 5;
        margin: 0 0 5px 0;
    }

    .content {
        box-sizing: border-box;
        height: 100%;
        box-shadow: inset 0 3px 5px 0 rgba(130,130,130,1);
    }

    .fields-title {
        content: '';
    }

    .registration-area {
        min-height: 200px;
        box-shadow: inset 0 3px 5px 0 rgba(130,130,130,1);
        border-radius: 0;
    }

    .tablet-element {
        display: none;
    }

    .navigation {
        width: 54px;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navigation__description {
        display: none;
    }

    .navigation-check {
        margin: 20px auto;
    }

    .registration-area {
        width: 100%;
    }

    .fields-start-end, .fields-between, .fields-start {
        flex-direction: column;
        align-items: flex-start;
    }

    .fields-block {
        width: 100%;
    }

    .registration-area__buttons-mobile {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .buttons__reset-mobile {
        width: 50%;
        margin: 20px auto 0;
    }

    .buttons__continue-mobile {
        margin: 20px 0;
    }

    .buttons__reset.buttons__reset-left {
        display: block;
        width: 100%;
        margin: 20px auto;
    }

}

